
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.clr{
    clear:both;
}
a{
    text-decoration: none;
}
#navbar {
    background-color: #333333;

}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2vh 3vh;
    list-style: none;
}

#navbar ul li a{
    color: lightgrey;
    margin: 0 1.5rem;
    transition: 0.5s;
}
#navbar ul li a:hover{
    color: white;
}
#navbar ul li a.active{
    color: white;
}
#showcase{
    display: flex;
}
